<html lang="en">
<style>
  img {
    height: 100px;
    width: 100px;
  }
  #date {
  margin: auto;
  display: block;
  text-align: center;
  margin-left: 300px;
}
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrapp@4.3.1/dist/css/bootstrapp.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Appointment PDF</title>
  <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrapp.css">
  <link rel="stylesheet" href="https://bootswatch.com/_assets/css/custom.min.css">
</head>
<% a=4 %>
<body class="bg-primary">
 
  <div class="container">
    <div class="card border-success mb-3  mx-auto" style="width:fit-content;height:fit-content;">
    
      <div class="card-body">
        <form action="/views" method="POST">
          <div style="display: flex;flex-direction: column;vertical-align: middle;">
          <center><textarea cols="80" rows="2" name="article" id="date" style="position: absolute;top: 20px;" readonly>APPOINTMENT</textarea></center>
           <%list.forEach(appo=>{%>
          <br/>
          <center><textarea cols="80" rows="2" name="hospital" id="date" style="position: absolute;top: 60px;" readonly> <%=appo.Hospital %> </textarea><br/></center>
          <center><textarea cols="80" rows="2" name="date" id="date" style="position: absolute;top: 100px;" readonly >   Date: <%=appo.date %> </textarea><br/></center>
          <center><textarea cols="80" rows="2" name="fname" id="date" style="position: absolute;top: 140px;" readonly>  Name: <%=appo.Firstname %> <%=appo.Lastname %> </textarea><br/></center>
          <center><textarea cols="80" rows="2" name="email" id="date" style="position: absolute;top: 180px;" readonly>  Email: <%=appo.Email %> </textarea><br/></center>
          <center><textarea cols="80" rows="2" name="age" id="date" style="position: absolute;top: 220px;" readonly>  Age: <%=appo.age %> </textarea><br/></center>
          <center><textarea cols="80" rows="2" name="dname" id="date" style="position: absolute;top: 260px;" readonly> Doctor Name: Dr.<%=appo.dname %> </textarea><br/></center>
          <center><textarea cols="80" rows="2" name="problem" id="date" style="position: absolute;top: 300px;" readonly>  Problem: <%=appo.Problem %> </textarea><br/></center>
          <center><textarea cols="80" rows="2" name="timeslot" id="date" style="position: absolute;top: 340px;" readonly>  Appointment Time: <%=appo.timeslot %> </textarea><br/></center>
          <center><textarea cols="80" rows="2" name="fee" id="date" style="position: absolute;top: 380px;" readonly>  Total Fee: <%=appo.fee %>/- Rs </textarea><br/></center>
      <%})%>
 
          </div>
          
          <br><br>
          <center><button type="submit" class="btn btn-primary" style="width: 395px;height: 60px;position: absolute;top: 450px;left:400px;"><strong>Generate PDF</strong></button></center>
        </form>
      </div>
    </div>
  </div>
</body>

</html>